.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 4px 0px !important;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    left: 8px;
    right: 0px;
}
.news_text{
    width: 90%;
    height: 28px;
    font-size: 14px;
    margin: 10px 0px;
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}